$colorLinks: #117B8B;

* {
	font-family: 'Georgia';
	font-size: 16px;
	font-weight: normal;
	color: white;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	background-color: white;
}

h1 {
	color: #DBDFE1;
	font-size: 48px;
}

h2 {
	color: white;
	font-size: 22px;
}

ul li {
	color: $colorLinks;
}

a {
	color: $colorLinks;
	cursor: pointer;

	&:hover {
		color: darken($colorLinks, 10%);
	}
}

button {
	font-size: 12px;
	font-family: Arial;
	color: black;
	padding: 5px;
	width: 100px;
}

#header {
	position: relative;
	z-index: 20;

	height: 140px;

	background: rgb(36,48,60); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(36,48,60,1) 0%, rgba(23,32,41,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,48,60,1)), color-stop(100%,rgba(23,32,41,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(36,48,60,1) 0%,rgba(23,32,41,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(36,48,60,1) 0%,rgba(23,32,41,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(36,48,60,1) 0%,rgba(23,32,41,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(36,48,60,1) 0%,rgba(23,32,41,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24303c', endColorstr='#172029',GradientType=0 ); /* IE6-9 */

	-moz-box-shadow: 0 0 5px black;
	-webkit-box-shadow: 0 0 5px black;
	box-shadow: 0 0 5px black;

	h1 {
		margin-top: 0px;
		padding-top: 40px;
	}
}

#body {
	position: relative;
	z-index: 10;

	padding: 30px 0;
	margin-bottom: 60px;

	background: rgb(205,205,205); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(205,205,205,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,205,205,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(205,205,205,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(205,205,205,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(205,205,205,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(205,205,205,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

	h2 {
		margin-top: 0px;
	}

	.projects {
		float: left;
		width: 350px;
	}

	.files {
		float: right;
		width: 650px;
	}

	.clear {
		clear: both;
	}
}

#loader {
	position: absolute;
	z-index: 100;

	display: block;
	width: 31px;
	height: 31px;

	background-image: url('ajax-loader.gif');
}

.loaderBar {
	display: inline-block;

	background-image: url('bar.gif');
	background-repeat: no-repeat;

	width: 220px;
	height: 19px;
}

.action {
	display: inline-block;
	width: 24px;
	height: 24px;

	vertical-align: bottom;

	background-image: url("refresh.png");

	&.delete {
		background-image: url("erase.png");
	}
}

.path {
	line-height: 24px;
}

.content {
	margin: 0 auto;
	width: 1000px;
}